<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Encrypt & Decrypt Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Encrypt & Decrypt multiline string</h1>
<form action="#" th:action="@{/cryption}" th:object="${content}" method="post">
    
<!-- <p th:utext="${#strings.replace( #strings.escapeXml( text ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}" ></p> -->
 <textarea th:field="*{text}"></textarea>
        <button type="submit" name="action" value="encrypt">Encrypt</button>
        <button type="submit" name="action" value="decrypt">Decrypt</button>
    </form>

</body>
</html>